@charset "UTF-8";
@import "base.css";
@import "loader.css";
/* 基本タグのフォントサイズを指定（12px -> 120% or 1.2em ） */
h1, h2, h3, h4, h5, h6, input, button, textarea, select, p, blockquote, th, td, pre, address, li, dt, dd {
	font-size: 160%;
	-webkit-text-size-adjust: none;
}
img {
	vertical-align: bottom;
}
h1 {
} /* Header内で設定 */
h2 {
}
h3 {
}
h4 {
}
a {
	color: #009e96;
}
a:hover, a:active {
	color: #009e96;
	text-decoration: none;
}
a:visited {
}
ul {
}
li {
}
dl {
}
dt {
}
dd {
}
table {
	width: 100%
}
th, td {
}
th {
}
td {
}
p {
	margin: 0 0 1.5em;
}
p, td, th, li, strong, dt, dd {
	line-height: 1.8em;
}
img{
	max-width:100%;
}

.image_l {
	float: left;
	margin: 0 30px 30px 0;
}
.image_r {
	float: right;
	margin: 0 0 30px 30px;
}
.image_center {
	text-align: center;
}
.section, section {
	padding-bottom: 50px;
}
.section p:last-child, section p:last-child {
	margin-bottom: 0;
}
.section:last-child {
	padding-bottom: 0;
}
table, th, td {
	border: 2px solid #fff;
	font-size: 16px;
	text-align: center;
}
table {
	margin: 0 auto 30px;
	font-size: 14px;
}
table th {
	width: 25%;
	background: #009E96;
	color: #fff;
	font-weight: bold;
}
table td {
	background: #f6f6f6;
	text-align:left;
}
em {
	background: rgba(0, 0, 0, 0) linear-gradient(rgba(0, 0, 0, 0) 60%, #F3B178 60%) repeat scroll 0 0;
}
em, i {
	font-style: italic;
	line-height: inherit;
}
strong, b {
	font-weight: bold;
	line-height: inherit;
}
strong {
	/*background: rgba(0, 0, 0, 0) linear-gradient(rgba(0, 0, 0, 0) 60%, #E27F71 60%) repeat scroll 0 0;*/
	color: #DF4A37;
}
/*ol li{
	list-style-type: decimal;
	list-style-position:inside;
}*/

/* ol style02 */
ol {
	list-style-type: none;
	margin: 0;
	margin-left: 2em;
	padding: 0;
	counter-reset: li-counter;
}
ol > li {
	position: relative;
	margin-bottom: 10px;
	padding-left: 1.4em;
	line-height: 1.8em;
}
ol > li:before {
	position: absolute;
	top: 2px;
	left: -1.33em;
	width: 1.3em;
	height: 1.3em;
	font-size: 16px;
	line-height: 1.3em;
	text-align: center;
	color: #fff;
	border: 2px solid #009E96;
	border-radius: 50%;
	background-color: #009E96;
	content: counter(li-counter);
	counter-increment: li-counter;
}
ul.list01{
	margin-bottom:25px;
}

ul.list01 li{
	position:relative;
	padding-left:23px;
}

ul.list01 li:before{
	width:10px;
	height:8px;
	content: "";
	z-index:4;
	position:absolute;
	top:10px;
	left:0;
	background:#EB6877;
}


.hover {
	transition: all 0.5;
}
.hover:hover {
	opacity: 0.8;
	transition: all 0.5;
}
/* add
------------------------------------------------------------------------*/
/*==========================================================================*/
/*                            Container                                     */
/*==========================================================================*/

html {
	background: none;
}
body {
	color: #111;
	text-align: center;
	/*font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;*/
	font-family: "Lato-Regular" ,"游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
}
body#index {
	background: #fff;
}
#wrapper {
	overflow: hidden;
}
#index #wrapper {
}
#main {
	margin: 0 auto;
	text-align: left;
	padding-top:71px;
}
#content {
}
.inner {
	width: 1400px;
	margin: 0 auto;
}
/*==========================================================================*/
/*                               Header                                     */
/*==========================================================================*/

#index #header {
}
#header .inner {
}

#header {
	height: 70px;
	text-align:left;
	position:fixed;
	width:100%;
	background:#FFFFFF;
	z-index:9999;
}
#header .inner {
}
#logo {
	text-align:center;
	padding: 6px 15px 0 0;
}
#logo img{
	max-width:170px;
}
	
/*==========================================================================*/
/*                              Footer                                      */
/*==========================================================================*/

#footer {
}

#footer .inner {
}
.fcol{
	float:left;
	margin-right:55px;
	text-align:left;
	
}
.fcol dt,.fcol li{
font-size:13px;
}
.fcol p{
font-size:12px;
}
.fcol dt{
	margin-bottom:5px;
	font-weight:bold;
}
.fcol li{
	margin-bottom:2px;
}
.fcol a{
	color:#333333;
	text-decoration:none;
}
.fcol a:hover{
	text-decoration:underline;
}
.fcol:last-child{
	margin-right:0;
}
.footer_logo img {
	width:100%;
    max-width: 170px;
}
.footer_logo{
	margin-left:30px;
	text-align:center;
}
.footer_logo span{
	display:block;
	font-size:16px;
	color:#333333;
	text-align:center;
	text-decoration:none;
	line-height:1.5em;
}
.footer_logo a{
	text-decoration:none;
}
.footer_logo a:hover{
	text-decoration:none;
}
.fcol.fcol04{
	width:670px;
	
}

.flist_social li{
	padding-left:20px;
}
.flist_social li.ficon_tw{
	background:url(../images/icon_tw01.png) left center no-repeat;
	background-size:15px auto;
}
.flist_social li.ficon_fb{
	background:url(../images/icon_fb01.png) left center no-repeat;
	background-size:15px auto;
}
.flist_social li.ficon_ins{
	background:url(../images/icon_ins01.png) left center no-repeat;
	background-size:15px auto;
}
.txt_ct{
	margin-bottom:12px;
}


.list_choose_ct{
	float:left;
  list-style: none;
  width: 170px;
  margin: 0;
  padding: 0;
}


.list_choose_ct li{
  display: block;
  position: relative;
  float: left;
  width: 100%;
}
.list_choose_ct input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.list_choose_ct .wpcf7-list-item-label {
  display: block;
  position: relative;
  padding: 0px 0 0 25px;
  height: 24px;
  z-index: 9;
  cursor: pointer;
}

.list_choose_ct li:hover label{

}

.list_choose_ct .check{
  display: block;
  position: absolute;
  border: 1px solid #AAAAAA;
  box-sizing:border-box;
  border-radius: 100%;
  height: 16px;
  width: 16px;
  top: 3px;
  left: 0px;
	z-index: 5;

}

.list_choose_ct li:hover .check {

}

.list_choose_ct li .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  margin: auto;
 
}


.list_choose_ct input[type=radio]:checked ~ .check {
  border: 2px solid #AAAAAA;
   background: #EB6877;
}

.list_choose_ct input[type=radio]:checked ~ .check::before{
  background: #EB6877;
}

.list_choose_ct input[type=radio]:checked ~ label{

}

.box_s_f{
	float:right;
	width:500px;
}
.box_s_f input[type="email"],
.box_s_f input[type="text"],
.box_s_f textarea  {
	border:1px solid #CCCCCC;
	float:left;
	/*width:calc(100% - 80px);*/
	width:100%;
	box-sizing:border-box;
	padding:5px;
	margin-bottom:5px;
}
.box_s_f input[type="submit"] {
	float:right;
	width:65px;
	line-height:70px;
	background:#2E9E97;
	border:none;
	color:#fff;
	cursor:pointer;
}
.box_s_f button{
	float:right;
	width:65px;
	line-height:70px;
	background:#2E9E97;
	border:none;
	color:#fff;
	cursor:pointer;
}
#footer_top{
	padding:35px 0;
	border-bottom:1px solid #F4F4F4;
	border-top:1px solid #F4F4F4;
}
#footer_info{
	padding:15px 0 20px;
}
.flink01{
	float:left;
	padding-left:20px;
}
.flink01 li{
	float:left;
	font-size:12px;
	margin-right:20px;
	font-weight:bold;
}
.flink01 li a{
	color:#666666;
	text-decoration:none;
	
}
.flink01 li a:hover{
	text-decoration:underline;
	
}
address{
	font-weight:bold;
	color:#999999;
	text-align:right;
	font-size:12px;
	padding-right:20px;
}
/*==========================================================================*/
/*                             Contents                                     */
/*==========================================================================*/
/*common
------------------------------------------------------------------------*/

/* index
------------------------------------------------------------------------*/
#main_visual{
	height:320px;
}
#main_visual .bx-wrapper .bx-controls-direction a{
	width:21px;
	height:35px;
	text-indent:-99999px;
} 
#main_visual .bx-wrapper .bx-controls-direction a.bx-prev{
	background:url(../images/icon_prev01.png) 0 0 no-repeat;
	background-size:21px auto;
} 
#main_visual .bx-wrapper .bx-controls-direction a.bx-next{
	background:url(../images/icon_next01.png) 0 0 no-repeat;
	background-size:21px auto;	
}
#main_visual .bx-wrapper .bx-pager, #main_visual .bx-wrapper .bx-controls-auto{
	bottom:20px;
}
#main_visual .bx-wrapper .bx-pager.bx-default-pager a{
	margin:0 10px;
	background:rgba(0,0,0,0.3);
	border:1px solid #f3f3f2;
	width:8px;
	height:8px;
	-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}


#main_visual .bx-wrapper .bx-pager.bx-default-pager a:hover, 
#main_visual .bx-wrapper .bx-pager.bx-default-pager a.active{
	background: #f3f3f2;
}

.content{
	/*width:1055px;*/
	width:calc(100% - 350px);
	float:left;
}
.navi{
	width:300px;
	float:right;
	margin:0 20px 0 0;

}
/* idx_ct01
-----------------------------------------------*/
#idx_ct01{
	padding:20px 0 10px 0;
}
.topic_path {
	padding:0 0 20px;
}
.topic_path li,.topic_path li a{
	color:#5E4931;
	font-size:13px;
	font-weight:bold;
}
.topic_path li a{
	text-decoration:none;
}
.topic_path li a:hover{
	text-decoration:underline;
}
.ct_bnr01{
	text-align:center;
}
.list_c01 {
	padding:0 17px;
}
.list_c01 .col3{
    box-sizing: border-box;
    float: left;
   /* width: calc(94% / 3);
	margin:0 3% 20px 0;*/
	width:325px;
	margin:0 20px 20px 0;
}

.list_c01 .col3:nth-child(3n+3) {
	margin-right:0;
}
.list_c01 .col3 .col_inner{
	box-sizing: border-box;
	border:1px solid #E5E5E5; 
	background:#F8F8F8;
}
.plist_info{
	position:relative;
}
.pimg01{
	margin:0;
}
.pimg01 img{
	width:100%;
}
.pimg01 span{
	position:absolute;
	right:4px;
	top:0;
	width:50px;
}
.pimg01 span img{
	width:auto;
}
.pl_bottom{
	position:absolute;
	bottom:0;
	background:rgba(255,255,255,0.5);
	width:100%;
	padding:5px;
	box-sizing:border-box;
}
.pl_auther{
	float:left;
	font-size:12px;
	margin:0;
	line-height:28px;
}

.pl_auther span{
	margin:0 10px 0 0;
	display:inline-block;
}
.pl_auther span img{
	-webkit-border-radius: 28px;
-moz-border-radius: 28px;
border-radius: 28px;}
.pl_date{
	float:right;
	font-size:12px;
	margin:0;
	line-height:28px;
}

.pl_title{
	margin:0;
	padding:10px 15px;
	font-size:15px;
	font-weight:bold;
	line-height:1.5em;
	min-height:65px;
	box-sizing:border-box;
	
}
.pl_title a{
	text-decoration:none;
	color:#111;
}


/* idx_ct02
-----------------------------------------------*/
#idx_ct02{
	border-top:1px solid #F4F4F4;
}
.col_cate01{
	float:left;
	width:180px;
	box-sizing:border-box;
	padding:12px 0 0 25px;
}
.col_pickup{
	float:right;
	width:calc(100% - 180px);
	box-sizing:border-box;
	background:#F4F4F4;
	padding:6px 15px;
}

.col_cate01 dt{
	font-size:15px;
	font-weight:bold;
	margin-bottom:14px;
}
.col_cate01 li {
	margin-bottom:20px;
	padding-left:0;
	line-height:1em;
}
.col_cate01 li a{
	font-weight:bold;
	font-size:15px;
	text-decoration:none;
	color:#444444;
}
.col_cate01 li a:hover{
	text-decoration:underline;
}
.col_cate01 li span img{
	width:20px;
	height:auto;
	padding-right:10px;
	vertical-align:middle;
}
.col_cate01 dd{
	padding-left:3px;
}

/*.col_cate01 li.c01{
	background:url(../images/icon_cate01.png) 0 center no-repeat;
	background-size:20px auto;
}
.col_cate01 li.c02{
	background:url(../images/icon_cate02.png) 0 center no-repeat;
	background-size:20px auto;
}
.col_cate01 li.c03{
	background:url(../images/icon_cate03.png) 0 center no-repeat;
	background-size:20px auto;
}
.col_cate01 li.c04{
	background:url(../images/icon_cate04.png) 0 center no-repeat;
	background-size:20px auto;
}
.col_cate01 li.c05{
	background:url(../images/icon_cate05.png) 0 center no-repeat;
	background-size:20px auto;
}
.col_cate01 li.c06{
	background:url(../images/icon_cate06.png) 0 center no-repeat;
	background-size:20px auto;
}*/

.title_pickup{
	font-size:15px;
	line-height:30px;
	font-weight:bold;
	color:#444444;
	margin:0 0 7px;
	
}
.title_pickup span{
	background:#EB6877;
	color:#fff;
	display:inline-block; 
	padding:0 12px;
	margin:0 12px 0 0;
}
.pickup_box{
	background:#fff;
	width:calc(50% - 8px);
	margin:0 16px 16px 0;
	float:left;
	box-sizing:border-box;
}
.pickup_box:nth-child(2n+2){
	margin-right:0;
}
.pickup_box_sb_img{
	display: table-cell;
    height: 100px;
    transition: all .5s ease-in-out 0s;
    vertical-align: top;
    width: 100px;
	position:relative;
}
.pickup_box_sb_img p{
	margin:0;
	position:relative;
}
.pickup_box_view{
	position:absolute;
	right:5px;
	bottom:-5px;
	font-size:10px;
	color:#111;
	background:url(../images/icon_eye01.png) 0 center no-repeat;
	background-size:14px auto;
	padding-left:18px;
}

.pickup_box_sb_ct{
	display: table-cell;
    padding: 10px;
    vertical-align: top;
    text-align: left;
	
}
.pickup_box_sb_title{
	line-height:1.3em;
	margin-bottom:5px;
}
.pickup_box_sb_title a{
	font-size:15px;
	font-weight:bold;
	margin-bottom:10px;
	text-decoration:none;
	color:#111111;
}

/* Navi
------------------------------------------------------------------------*/
.navi{
	width:300px;
	float:right;
	margin:0 25px 0 0;

}
.list_navi{
	border:1px solid #EEEEEE;
	margin:0 0 25px 0;
	padding:8px;
	box-sizing:border-box;
	width:100%;
	
	
}
.link01 {
	clear:both;
	font-size:12px;
	text-align:right;
	margin:0;
	position:relative;
	
}

.link01 a{
	color:#333333;
	position:relative;
}
.link01 a:before{
	position:absolute;
	width:30px;
	height:30px;
	content:"＞";
	left:-35px;
	top:-5px;
}
.link01 a:hover{
	text-decoration:none;
}
.list_navi dt{
	font-size:15px;
	font-weight:bold;
	padding:0 0 7px 10px;
	line-height:1.4em;
	border-bottom:1px solid #E5E5E5;
	margin-bottom:12px;
	position:relative;
	
}
.navi02 .list_navi{
	margin-bottom:0;
	border-top:none;
}
.list_navi dt:before {
    position: absolute;
    left: -8px;
    top: -8px;
    width: 3px;
	height:45px;
	background:#009E96;
	content:"";
}
.list_navi dt:after {
    position: absolute;
    left: -4px;
    top: -8px;
    width: 1px;
	height:45px;
	background:#009E96;
	content:"";
}


.list_navi dt span{
	font-size:11px;
	font-weight:normal;
	display:block;
	
}
.list_navi01 dd{
	margin-bottom:15px;
	width:100%;
	display:table;
}


.list_latestpost_sb_img {
    display: table-cell;
    height: 60px;
    transition: all .5s ease-in-out 0s;
    vertical-align: top;
    width: 60px;
	position:relative;
}
.list_latestpost_sb_img p {
    margin-bottom: 0;
}
.list_latestpost_sb_img a{
	color:#333333;
	text-decoration:none;
	line-height:1.4em;
	font-weight:500;
}

.certi{
	position:absolute;
	top:-5px;
	left:-7px;
	width:22px;
	height:28px;
	background:url(../images/certi01.png) 0 0 no-repeat;
	text-align:center;
	font-size:12px;
} 
.certi01{
	background:url(../images/certi01.png) 0 0 no-repeat;
}
.certi02{
	background:url(../images/certi02.png) 0 0 no-repeat;
}
.certi03{
	background:url(../images/certi03.png) 0 0 no-repeat;
}


.list_latestpost_sb_ct {
    display: table-cell;
    padding-left: 10px;
    vertical-align: top;
    text-align: left;
}

.list_latestpost_sb_title{
	font-size:12px;
	margin-bottom:5px;
	line-height:1.4em;
	
}
.list_latestpost_sb_title a{
	color:#111;
	text-decoration:none;
}
.list_latestpost_sb_title a:hover{
	text-decoration:underline;
}
.list_latestpost_sb_info{
	margin:0;
}
.list_latestpost_sb_info .nauther01{
	font-size:11px;
	line-height:1.3em;
	float:left;
	
}
.nview{
	font-size:11px;
	line-height:1.3em;
	float:right;
	background:url(../images/icon_eye02.png) 0 center no-repeat;
	background-size:18px auto;
	padding-left:25px;
}
.list_latestpost_sb_info .post_view  {
	float: right;
}
.post_view {
	font-size:11px;
	line-height:1.3em;
	background:url(../images/icon_eye02.png) 0 center no-repeat;
	background-size:18px auto;
	padding-left:25px;
	margin-left:25px;
}


.navi_ad01 p{
	margin:0;
}

.navi_ad01{
	margin-bottom:20px;
}
.navi_ad01_in{
	width:100%;
	max-width:300px;
	margin:0 auto;
}

.navi_ad02,.navi_ad02 p{
	margin:0;
}

.list_tag01 li{
	background:url(../images/icon_tag01.png) 5px center no-repeat;
	background-size:12px;
	float:left;
	padding:0 6px 0 20px;
	border:1px solid #E7E7E7;
	margin:0 6px 6px 0;
	line-height:23px;
	font-size:12px;
}
.list_tag01 li a{
	color:#484848;
	text-decoration:none;
}



/* header sticky
------------------------------------------------------------------------*/
#sticky_footer {
	background: rgba(255,255,255,0.9);
	border-top: 5px solid #CCCCCC;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 99999;
	padding: 8px 0;
	display: none;
}



/* search 
------------------------------------------------------------------------*/
#header .inner{
	position:relative;
}
.head_search{
	position:absolute;
	top:10px;
	right:5px;
}
.icon-search-container {
  display: inline-block;
  border: 2px solid #d9d9d9;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  position: relative;
  transition: width 0.2s;
  backface-visibility: hidden;
  float:right;
}
.icon-search-container.active {
  width: 285px;
}
.icon-search-container.active .fa-times-circle {
  opacity: 1;
}
.icon-search-container.active .search-input {
  width: 200px;
}
.icon-search-container .fa-search {
  color: #2980b9;
  font-size: 30px;
  position: absolute;
  top: 7px;
  left: 8px;
  cursor: pointer;
}
.icon-search-container .fa-times-circle {
  opacity: 0;
  color: #d9d9d9;
  font-size: 20px;
  position: absolute;
  top: 12px;
  right: 8px;
  transition: opacity 0.2s ease-out;
  cursor: pointer;
}
.icon-search-container .search-input {
  position: absolute;
  cursor: default;
  left: 45px;
  top: 10px;
  width: 0;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 18px;
  line-height: 20px;
  background-color: rgba(255, 255, 255, 0);
  transition: width 0.2s ease-out;
}




/* hover
------------------------------------------------------------------------*/

.list_c01 .col3:hover,
.pickup_box:hover,
.list_navi01 dd:hover,
.torejin_bx01:hover,
.list_ct_article:hover,
.box_s_f button:hover,
.box_s_f input[type="submit"]:hover,
.list_ct_traijing:hover{
	opacity:0.8;
	cursor:pointer;
}
.pickup_box:hover .pickup_box_sb_title a,
.list_c01 .col3:hover .pl_title,
.list_ct_article:hover .list_ct_article_title a,
.list_ct_traijing:hover .list_ct_traijing_auther{ 
		color:#2E9E97;
}

.list_tag01 li:hover a{
	color:#2E9E97;
}
.btn03 a:hover{
	background:#2E9E97;
	color:#fff;
	}


/*==========================================================================*/
/*                       .custom-pagination                   */
/*==========================================================================*/


.custom-pagination a, .custom-pagination span,
.wp-pagenavi a,.wp-pagenavi span {
	background-color: #FFFFFF;
	font-size: 1.4em;
	line-height: 40px;
	margin-right: 5px;
	min-height:40px;
	min-width:40px;
	color: #111111;
	border: 1px solid #EEEEEE;
	box-sizing:border-box;
	text-decoration:none;
	padding:0 5px;
	  display: inline-block;
	
}
.custom-pagination a:hover, .custom-pagination span.current ,
.wp-pagenavi a:hover, .wp-pagenavi span.current {
	background:#DDDDDD;
	border: 1px solid #DDDDDD;
	color: #111111;
}
.custom-pagination .page,
.wp-pagenavi .page {
}
.custom-pagination,
.wp-pagenavi {
	margin: 2em;
	text-align: center;
}
.custom-pagination a.last,
.wp-pagenavi a.last {
	float: none;
}	
.pickup_box .post_view {
	margin-left: 0;
	line-height: inherit;
	position: absolute;
    right: 5px;
    bottom: -5px;
    font-size: 10px;
    color: #111;
    background: url(../images/icon_eye01.png) 0 center no-repeat;
    background-size: 14px auto;
    padding-left: 18px;
}
.like_heart {
	margin-left: 15px;
}
/* #fix contact form 7 */
.wpcf7-list-item-label {
	font-size: 13px;
}
span.wpcf7-list-item {
	display: block!important;
}
div.wpcf7-validation-errors {
	border: 0!important;
}
span.wpcf7-not-valid-tip {
	display: initial!important;
}
.list_choose_ct .wpcf7-list-item  {
	display: block;
    position: relative;
    float: left;
    width: 100%;
}


.box_s_f .wpcf7-form-control-wrap{
	width: calc(100% - 80px);
	float:left;
}


.box_s_f span.wpcf7-not-valid-tip{
	width:100%;
	float:left;
	background:rgba(242,156,159,0.5);
	margin-bottom:10px;
	box-sizing:border-box;
	padding:0 0 0 5px;
	font-size:14px !important;
	
}

.list_choose_ct .wpcf7-list-item-label{
	line-height:1.4em;
}

.wpcf7-validation-errors{
	display:none;
}
#traijing_slider01 li {
  text-align: center;
  background: #F4F4F4;
}
.bx-wrapper #traijing_slider01 img {
    max-width: 100%; 
    width: auto;
    margin: 0 auto; 
}
.pic_description {
	margin: 0 auto;
}
.featured_picture {
	position: relative;
	display: block;
	margin: 0 auto;
}
.featured_picture span {
	position: absolute;
	right: 10px;
	bottom: 0;
}
.featured_picture span,
.featured_picture span a {
	color: #ffffff;
	line-height: 1.8em;
	font-size: 120%;
}